

body{
    text-align: center;
    align-items: center;
    background-image: url("../resources/hellothere.jpg");
    background-repeat:repeat-x;
    background-size: cover;
    background-position: top left;
    font-family: sans-serif;
    font-weight: 500;
    font-size: x-large;
    color: white;
    line-height: 350%;
}

@media only screen and (min-width: 600px) {
    body {
        background-position: absolute;
        background-size: 70%;
        background-repeat: repeat-x;
    }
}

a{
    margin: 0px;
    padding: none;
    color: white;
    text-decoration: none;
    font-weight: 800;
}

a:hover{

    color: gray; 
    transition: .3s;
}

.fourohfour{

    font-size: 64pt;
    font-weight:900;
}

.badrq{
    padding-top: 40px;
    line-height: 150%;
}

#notfound{
    top: 35%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    position: fixed;
}