* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.navbarbuttons{
    color: white;
    text-decoration: none;
}

.navbarbuttons:hover{
    color: gray;
    transition: .3s;
}

.navbar{
    background-color: rgba(53, 7, 53, 0.973);
    margin: 0 0 0;
    border-radius: 0 0 0 0;
}
.dropdown-menu{
    background-color: rgba(53, 7, 53, 0.973);

}

.dropdown-menu>li>a{
    color: #9d9d9d;
}

.btn-primary1.active.focus, .btn-primary1.active:focus, .btn-primary1.active:hover, .btn-primary1:active.focus, .btn-primary1:active:focus, .btn-primary1:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.socials{
    color: #9d9d9d;
    background-color: rgba(53, 7, 53, 0.973);

}

.navbar-brand{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.upcoming{
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color:rgba(53, 7, 53, 0.973);
}

.tiny-desk{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: black;
    padding: 40px;
    align-items: center;
    text-align: center;
}

.tiny-desk-text{
    Font-family: sans-serif;
    font-weight: 800;
    color: white;
    padding-bottom: 20px;
}

.tiny-desk-embed{
    justify-content: auto;
    aspect-ratio: 16 / 9;
    width: 98%;
    align-self: center;
}

@media only screen and (max-width: 700px) {
    .upcoming {
      flex-direction: column;
    }
}

#album{
    background-image: url(../resources/20240910_0163_LL.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    text-align: center;
    align-items: center;
    line-height: 24%;;
    font-weight: 700;
    color: white;
    font-size: x-large;
    max-width: 100%;
    position: relative;
    text-shadow: 3px 3px 4px rgb(232, 185, 255);
}

@media (hover: none) {
    #album {
        background-attachment: scroll;
    }
 }

@media (pointer: coarse) {
    #album {
        background-attachment: scroll;
    }
}

#albumtext{
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 400px;
}

#albumname{
    width: 100%;
    align-self: center;
    font-size: 35pt;
}

 #eleventhirty{
    padding-top: 20px;
    height: 500px;
    align-items: center;
    text-align: center;
    Font-family: sans-serif;
    font-weight: 800;
    color: white;
}

.singlecover{
    padding: none;
    object-fit: contain;
    width: 300px;
}

.listen{
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.listen:hover{
    background-color: gray; 
    transition: .4s;
    text-decoration: none;
    color: black;
}

.shows{
    font-family: sans-serif;
    background-color: lightgray;
    color: black;
    text-align: center;
    font-size: 40pt;
    height: auto;
    font-weight: 600;
    padding: 20px;
    font-style: italic;
}


.showsub{
    font-size: 12pt;
    font-style: normal;
    line-height: 200%;
    font-weight: 200;
}

.btn{

    height: 50px;
}

.btn-primary1{
    color: #9d9d9d;
    height: 50px;
    background-color: transparent;
    border-style: none;
    justify-content: center;
}

.btn-primary1:hover{
    background-color: transparent;
    color: white
}

.btn-primary1:focus{
    border-color: transparent;
    color: #9d9d9d;
}

.open.btn-primary1.active, .btn-primary1:active, .open>.dropdown-toggle.btn-primary1  {
    background-color: transparent;
    color: white;
}


.contact{
    font-size: 25pt;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 800;
    height : 100px;
    align-items: center;
    align-content: center;
    padding-top: 20px;
}

.socialicons{
    width: 3%;
}

@media only screen and (max-width: 600px) {
    .socialicons {
      width: 8%
    }
}

#attributions{
    padding-bottom: 20px;
    line-height: 2px;
}

hr{
    width: 0px;
    visibility: none;

}

.attribution{
    font-weight: 100;
    font-size: 6pt;
    line-height: 10px;
}

#presavealbum{
    text-shadow: none;
}

#out{
    line-height: normal;
}

