* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{

    height: 1000px;
}


.nav{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: auto;
    background-color: rgba(93, 36, 93, 0.973);
    align-items: center;
    overflow: auto;
    justify-content: space-between;
    text-align: right;
}

#Courtyardtext{
    font-size: larger;
    padding-left: 20px;
    padding-top: auto;
    padding-bottom: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: white;
    
}

#menuicon{
    object-fit: contain;
    padding-top: auto;
    padding-bottom: auto;
    align-self: right;
    justify-self: flex-end;
    height: 50%;
    padding-right: 20px;
    
}